@media (max-width: 1000px) {
  html { font-size: 90%; }

  header{
    padding: 15px 30px;
    height: 80px;
  }

  .profile, .prof {
  	padding: 60px 30px 15px 30px;
  }

  .info > .contents {
    width: 85%;
  }

  .contents .description{
  	max-width: 1000px;
  }
}

@media (max-width: 670px) {
  header{
    padding: 10px 20px;
    height: 70px;
  }
  .profile, .prof {
  	padding: 20px 20px 10px 20px;
  }
  .gnav {
    display: none;
  }
  .open, .close, .menu {
    display: block;
  }

}
