@media (max-width: 1000px) {
  html { font-size: 90%; }

  header{
    padding: 15px 30px;
    height: 80px;
  }
  .info > .contents {
    width: 85%;
  }
  .contents .description{
  	max-width: 1000px;
  }
}

@media (max-width: 670px) {
  html { font-size: 75%; }
  header{
    padding: 10px 20px;
    height: 70px;
  }
  .gnav {
    display: none;
  }
  .open, .close, .menu {
    display: block;
  }

}
